{% extends "base.html" %}
{% block content %}
    <h2>Список задач</h2>

    <ul>
        {% for task in tasks %}
            <li>
                <a href="{% url 'task_detail' task.pk %}">{{ task.title }}</a>
                ({{ task.get_status_display }})
            </li>
        {% empty %}
            <li>Задач пока нет</li>
        {% endfor %}
    </ul>

    {% if user.role in "Team Admin Manager" %}
        <a href="{% url 'task_create' %}">Создать задачу</a>
    {% endif %}

{% endblock %}
